<div class="row text-center">
    <div class="container">
        <h2 class="section-heading">Αρχικη</h2>
        <h3 class="section-subheading text-muted"><strong>{{ main.username || "user" }}, </strong> Ώρα για KidsTimes.</h3>
    </div>
</div>
