<div class="page header">
	<h1> ΝΕΑ ΔΡΑΣΤΗΡΙΟΤΗΤΑ </h1>
</div>

<div class="col-lg-12">
	<form ng-submit="create.crEvent(evData);">
		<div class="row">
			<div class="col-md-12">
				<div class="form-group">
					<label>Τίτλος</label>
					<input class="form-control" type="text" name="title" placeholder="Τίτλος *" ng-model="create.evData.title">
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<div class="form-group">
					<label>Περιγραφή</label>
					<textarea class="form-control" name="description" placeholder="Περιγραφή *" ng-model="create.evData.description"></textarea>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<div class="form-group">
						<label>Διεύθυνση:</label>
					<div ng-show='false'>selection is: {{create.evData.address}}</div>
					<div ng-show='true'>
						<input class="form-control" placeholder="Διεύθυνση *" ng-model="create.evData.address" googleplace1 />
					</div>
					<div ng-show='false'>	
						<div ng-show='false'>Lat is: {{create.evData.latitude}}</div>
						<li><label>Latitude:</label></li>
						<input class="form-control" ng-show='true' ng-model="create.evData.latitude" disabled></input>
						<div ng-show='false'>Long is: {{create.evData.longitude}}</div>
						<li><label>Longitude:</label></li>
						<input class="form-control" ng-show='true' ng-model="create.evData.longitude" disabled></input>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-2">
				<div class="form-group">
					<label>Ημερομηνία και Ώρα:</label>
					<input class="form-control" ng-model="evData.date" datetime-picker date-format="yyyy-MM-dd HH:mm" close-on-select="false">
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-2">
				<div class="form-group">
					<label>Τιμή (σε "Smiles")</label>
					<i class="fa fa-smile-o" aria-hidden="true"></i><input class="form-control" type="number" name="price" min=1 ng-model="create.evData.price">
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-2">
				<div class="form-group">
					<label>Συνολικά Εισιτήρια</label>
					<input class="form-control" type="number" name="price" min=1 ng-model="create.evData.total">
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-3">
				<div class="form-group">
					<label>Κατηγορία</label>
					<select class="form-control" name="category" ng-model="create.evData.category">
						<option value="Αθλητισμός">Αθλητισμός</option>
						<option value="Μουσική">Μουσική</option>
						<option value="Χορός">Χορός</option>
						<option value="Εικαστικά">Εικαστικά</option>
					</select>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<div class="form-group">
					<label>Ηλικία (Ελάχιστη - Μέγιστη)</label>
					<rzslider rz-slider-model="create.slider.min" rz-slider-high="create.slider.max" 
					rz-slider-options="create.slider.options"></rzslider>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-3">
				<div class="form-group">
					<Label>Upload your photo:</Label>
					<input type="file" file-model="myFile" id="myFile"/>
					<button class="btn" ng-click="create.uploadFile()">Upload</button>
				</div>
			</div>
		</div>
		<button class="btn btn-primary" type="submit">ΔΗΜΙΟΥΡΓΙΑ</button>
	</form>
</div>
<!-- Loading Icon (Bootstrap) -->
<div class="jumbotron text-center" ng-show="create.loading">
	<span class="glyphicon glyphicon-repeat spinner"></span>
	<p>Loading....</p>
</div>
<!-- Loading Icon (Bootstrap) -->

<!-- Custom Messages -->
<div class="row show-hide-message" ng-show="create.successMsg">
	<div class="alert alert-success">{{ create.successMsg }}</div>
</div>

<br>

<div class="row show-hide-message" ng-show="create.errorMsg">
	<div class="alert alert-danger">{{ create.errorMsg }}</div>
</div>
<!-- Custom Messages -->