<!-- Heading -->
<div class="row text-center">
        <div class="container">
            <h2 class="section-heading">Λιστα Δραστηριοτητων</h2>
            <h3 class="section-subheading text-muted">Καλωσορίσατε <strong>{{ main.username }}, </strong></h3>
        </div>
    </div>
    <!-- Heading -->
    
    <br>
    
    <!-- Loading Icon (Bootstrap) -->
    <div class="jumbotron text-center" ng-show="event.loading">
        <span class="glyphicon glyphicon-repeat spinner"></span>
        <p>Φόρτωση....</p>
    </div>
    <!-- Loading Icon (Bootstrap) -->
    
    <br>
    
    <!-- Event event Table -->
    <div class="panel panel-primary">
        <!-- Heading -->
        <div class="panel-heading">
            <strong>Πίνακας Δραστηριοτήτων</strong>
        </div>
        <!-- Start: Table -->
        <table class="table">
            <tr>
                <th>Τίτλος</th>
                <th>Περιγραφή</th>
                <th>Ημερομηνία και Ώρα</th>
                <th>Κατηγορία</th>
                <th>Τιμή</th>
                <th>Διαθεσιμότητα</th>
                <th></th>
            </tr>
            <tr ng-repeat="event1 in myevent.events">
                <td>{{ event1.title }}</td>
                <td>{{ event1.description }}</td>
                <td>{{ event1.date + ' ' + event1.time }}</td>
                <td>{{ event1.category }}</td>
                <td>{{ event1.price + ' "Smiles"' }}</td>
                <td>{{ event1.avail + '/' + event1.total }}</td>
                <td>
                    <!-- Edit Button -->
                    <a href="/show/event/{{ event1  ._id }}">
                        <button type="button" ng-show="event.editAccess" class="btn btn-primary">Προβολη</button>
                    </a>
                </td>
            </tr>
            <!-- End: Table -->
        </table>
    </div>
       
    <br>
    
    <!-- Custom Error Message -->
    <div class="row show-hide-message" ng-show="event.showMoreError">
        <div class="alert alert-danger">{{ event.showMoreError }}</div>
    </div>
    <!-- Custom Error Message -->
    