<div class="col-lg-12">
    <div class="row">
        <div class="col-md-3">
            <div class="form-group">
                <label>Φωτογραφία</label>
                <img class="img-responsive" ng-src="{{show.event.picture}}">
                <br>
                <br>
            </div>
            <div class="col-md-6">
                <label>Διαθεσιμότητα</label>
                <p class="form-control" ng-bind="show.event.free"></p>
            </div>
            <div class="col-md-6">
                <a href="#" class="btn btn-warning">
                    <span class="glyphicon glyphicon-shopping-cart"></span> Buy Now!</a>
            </div>
        </div>
        <div class="col-md-9">
            <div class="form-group">
                <label>Τίτλος</label>
                <span class="form-control" ng-bind="show.event.title"></span>
            </div>
            <div class="form-group">
                <label>Περιγραφή</label>
                <div style="border-radius: 25px; padding: 7px; border-width:1px; border-style:ridge; border-color: #8d8787;" class="border-bottom-0" ng-bind="show.event.description"></div>
            </div>
            <div class="form-group">
                <label>Διεύθυνση</label>
                <span class="form-control" ng-bind="show.event.address"></span>
            </div>
            <div class="form-group">
                <label>Ημερομηνία και Ώρα</label>
                <span class="form-control" ng-bind="show.event.date"></span>
                <span class="form-control" ng-bind="show.event.time"></span>
            </div>
            <div class="form-group">
                <label>Κατηγορία</label>
                <span class="form-control" ng-bind="show.event.category"></span>
            </div>
        </div>

    </div>
</div>
</div>