<!DOCTYPE html>
<html lang="el">

<head>
    <base href="/">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="KidsTimeApplication">
    <meta name="author" content="KidsTime">

    <!-- Replace the value of the key parameter with your own API key. -->


    <!-- Cascade Style Sheets -->
    <link rel="stylesheet" href="assets/components/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="assets/components/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="assets/css/style.css">
    <link rel="stylesheet" type="text/css" href="assets/components/animate.css/animate.css">
    <link rel="stylesheet" href="assets/components/angularjs-datetime-picker/angularjs-datetime-picker.css" />
    <link rel="stylesheet" href="assets/components/components-font-awesome/css/font-awesome.css" />
	<link rel="stylesheet" type="text/css" href="assets/components/angularjs-slider/dist/rzslider.css"/>

    <title>KIDS TIME App</title>

</head>

<body ng-app="userApp" ng-controller="mainCtrl as main" ng-show="main.loadme" ng-cloak>
    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top navbar-shrink">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand page-scroll" href="/">Kids Time</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden active">
                        <a href="#page-top"></a>
                    </li>
                    <li class="">
                        <a class="page-scroll" href="/">
                            <i class="fa fa-home"></i> Αρχική</a>
                    </li>
                    <li class="">
                        <a ng-show="!main.isLoggedIn" class="page-scroll" href="/login">
                            <i class="fa fa-sign-in"></i> Σύνδεση</a>
                    </li>
                    <li class="">
                        <a ng-show="!main.isLoggedIn" class="page-scroll" href="/register">
                            <i class="fa fa-user-plus" aria-hidden="true"></i>Εγγραφη</a>
                    </li>
                    <li class="">
                        <a ng-show="main.isLoggedIn && main.admin" class="page-scroll" href="/management">Διαχειριση</a>
                    </li>
                    <li ng-show="main.isLoggedIn" class="dropdown" id="menu1">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            Δραστηρίοτητες
                            <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu" style="background-color: #271d1d;">
                            <li class="">
                                <a ng-show="main.isLoggedIn && main.provider" class="page-scroll" href="/create">Δημιουργία</a>
                            </li>
                            <li class="">
                                <a ng-show="main.isLoggedIn && (main.provider || main.admin)" class="page-scroll" href="/event/list">Λιστα</a>
                            </li>
                            <li ng-show="main.isLoggedIn && main.provider" class="divider"></li>
                            <li class="">
                                    <a ng-show="main.isLoggedIn && main.provider" class="page-scroll" href="/show/myevent/">Δικές μου</a>
                            </li>
                        </ul>
                    </li>
                    <li class="">
                            <a ng-show="main.isLoggedIn" class="page-scroll" href="#" ng-click="main.logout();">Αποσύνδεση</a>
                        </li>
                    <li class="">
                        <a ng-show="main.isLoggedIn" class="page-scroll" href="/profile">"{{ main.username }}"</a>
                    </li>
                </ul>
                <div class="col-sm-3 col-md-3 pull-right">
                    <form class="navbar-form" role="search">
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Αναζήτηση.." name="srch-term" id="srch-term1">
                            <div class="input-group-btn">
                                <button class="btn btn-default" type="submit">
                                    <i class="glyphicon glyphicon-search"></i>
                                </button>
                            </div>
                        </div>
                    </form>
                </div>

                <!-- /.navbar-collapse -->
            </div>
            <!-- /.container-fluid -->
    </nav>
    <!-- Header -->
    <header ng-show="main.home">
        <div class="container">
            <div class="intro-text">
                <center>
                    <div class="col">
                        <form class="navbar-form" role="search">
                            <div class="input-group add-on" style="border: 2px solid #181717;">
                                <input class="form-control" placeholder="Αναζήτηση.." name="srch-term" id="srch-term" type="text">
                                <div class="input-group-btn">
                                    <button class="btn btn-default" type="submit">
                                        <i class="glyphicon glyphicon-search"></i>
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </center>
                <div class="intro-lead-in" style="text-shadow: 3px 2px rgb(0, 0, 0);">KidsTime Αρχική Σελίδα</div>
                <div class="intro-heading" style="text-shadow: 10px 2px rgb(0, 0, 0);">Καλωσορισατε στην Ιστοσελιδα μας!!</div>
                <a ng-show="!main.isLoggedIn" href="/login" class="page-scroll btn btn-xl">Συνδεση</a>
                <a ng-show="!main.isLoggedIn" href="/register" class="page-scroll btn twitterbtn">Εγγραφη Τωρα</a>
                <a ng-show="main.isLoggedIn" href="#" ng-click="main.logout();" class="page-scroll btn btn-xl">Αποσυνδεση</a>
                <a ng-show="main.isLoggedIn && main.authorized" href="/management" class="page-scroll btn facebookbtn">View</a>

            </div>
        </div>
    </header>

    <section id="services">
        <div class="container">
            <div class="row">

                <!-- Angular View -->
                <div ng-view></div>
                <!-- Angular View -->

            </div>
        </div>
    </section>

    <!-- Portfolio Grid Section -->
    <section ng-show="main.home" id="portfolio" class="bg-light-gray">
        <div class="container">

            <div class="row">
                <div class="col-lg-12 text-center">

                    <h2 class="section-heading">Σχετικα με την σελιδα</h2>
                    <h3 class="section-subheading text-muted">Βρες τη ιδανική δραστηριότητα για το παιδί σου.</h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="glyphicon glyphicon-film"></span>
                    <h4 class="service-heading">Χαρακτηριστικό 1</h4>
                    <p class="text-muted">Βεβαιωθείτε ότι είσαστε οικείος με το Χαρακτηριστικό 1:
                        <a href="http://localhost:8080" target="_blank">Πατήστε εδώ!</a>
                    </p>
                </div>
                <div class="col-md-4">
                    <span class="glyphicon glyphicon-phone"></span>
                    <h4 class="service-heading">Χαρακτηριστικό 2</h4>
                    <p class="text-muted">Βεβαιωθείτε ότι είσαστε οικείος με το Χαρακτηριστικό 2:
                </div>
                <div class="col-md-4">
                    <span class="glyphicon glyphicon-calendar"></span>
                    <h4 class="service-heading">Χαρακτηριστικό 3</h4>
                    <p class="text-muted">Βεβαιωθείτε ότι είσαστε οικείος με το Χαρακτηριστικό 3:
                        <a href="http://localhost:8080" target="_blank">Βρείτε μας</a>
                    </p>
                </div>
            </div>
        </div>
    </section>

    <footer ng-show="main.home">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <span class="copyright">Copyright © KidsTime Team</span>
                </div>
                <div class="col-md-4">
                    <ul class="list-inline social-buttons">
                        <li>
                            <a href="#">
                                <i class="fa fa-user-circle"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="glyphicon glyphicon-globe"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="glyphicon glyphicon-qrcode"></i>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-4">
                    <ul class="list-inline quicklinks">
                        <li>
                            <a href="#">Privacy Policy</a>
                        </li>
                        <li>
                            <a href="#">Terms of Use</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>

    <!-- BootstrapJS Modal -->
    <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button ng-hide="main.hideButton" type="button" ng-click="main.endSession();" class="close" data-dismiss="modal">&times;</button>
                    <!-- Modal Header -->
                    <h4 class="modal-title">{{ main.modalHeader }}</h4>
                </div>
                <!-- Modal Body -->
                <div class="modal-body">
                    <p>{{ main.modalBody }}</p>
                    <div ng-show="main.hideButton" class="dizzy-gillespie"></div>
                </div>
                <div class="modal-footer">
                    <!-- Modal 'Yes' & 'No' Buttons -->
                    <button type="button" ng-hide="main.hideButton" ng-click="main.renewSession();" class="btn btn-primary" data-dismiss="modal">Yes</button>
                    <button type="button" ng-hide="main.hideButton" ng-click="main.endSession();" class="btn btn-danger" data-dismiss="modal">No</button>
                </div>
            </div>

        </div>
    </div>
    <!-- BootstrapJS Modal -->

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="assets/components/jquery/dist/jquery.min.js"></script>
    <script src="assets/components/bootstrap/dist/js/bootstrap.js"></script>
    <script src="assets/components/bootstrap/dist/js/bootstrap.min.js"></script>

    <!-- Main Angular Files -->
    <script src="assets/components/angular/angular.js"></script>
    <script src="assets/components/angular-route/angular-route.js"></script>
    <script src="assets/components/angular-animate/angular-animate.js"></script>
    <script src="assets/components/moment/min/moment.min.js"></script>
    <script src="assets/components/ng-file-upload/ng-file-upload-shim.min.js"></script>
    <script src="assets/components/ng-file-upload/ng-file-upload.min.js"></script>
    <script src="assets/components/angularjs-datetime-picker/angularjs-datetime-picker.js"></script>
	<script src="assets/components/angularjs-slider/dist/rzslider.js"></script>
    <script src="assets/components/angularjs-geolocation/dist/angularjs-geolocation.min.js"></script>

    <!-- Angular Config/Routes -->
    <script src="app/app.js"></script>
    <script src="app/routes.js"></script>

    <!-- Angular Controllers -->
    <script src="app/controllers/userCtrl.js"></script>
    <script src="app/controllers/mainCtrl.js"></script>
    <script src="app/controllers/emailCtrl.js"></script>
    <script src="app/controllers/managementCtrl.js"></script>
    <script src="app/controllers/eventCtrl.js"></script>
    <script src="app/controllers/eventManagCtrl.js"></script>
    <script src="app/controllers/payCtrl.js"></script>
    <script src="app/controllers/queryCtrl.js"></script>

    <!-- Angular Services -->
    <script src="app/services/userServices.js"></script>
    <script src="app/services/authServices.js"></script>
    <script src="app/services/eventServices.js"></script>
    <script src="app/services/googleServices.js"></script>

    <!--- Google Maps API -->
    <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?key=AIzaSyBd6evBw3AQZLjWfgS6yPg5rqLv5orC8I0&libraries=places"></script>

    <!-- Drop Down Fixes -->
    <script>
        $(document).ready(function () {
            $('.dropdown-toggle').dropdown();
        });
    </script>
</body>

</html>