<div class="container">
  
  <h3>Αποτελέσματα Αναζήτησης <p class="lead">και Φιλτράρισμα Αποτελεσμάτων</p></h3>

  <button type="button" class="btn btn-info btn-md" ng-click="query.showFilters=!query.showFilters">
          <span class="glyphicon glyphicon-filter"></span> Φίλτρα 
  </button>


  <form role="form" class="form-horizontal" ng-show="query.showFilters" ng-submit="query.queryForm(queryData); query.showFilters=false">
    <div class="form-group">
      <label class="col-sm-12">Μέγιστη Απόσταση</label>
      <div class="col-sm-2"><input type="number" class="form-control" placeholder="5" min=1 ng-model="query.queryData.distance"><div class="help"></div></div>
      <div class="col-sm-4"><div class="help">χλμ από "διεύθυνση"</div></div>
    </div>

    <div class="form-group">
      <label class="col-sm-12">Κατηγορία</label>
      <div class="col-sm-3">
        <select class="form-control" name="category" ng-model="query.queryData.category">
              <option value="Αθλητισμός">Αθλητισμός</option>
              <option value="Μουσική">Μουσική</option>
              <option value="Χορός">Χορός</option>
              <option value="Εικαστικά">Εικαστικά</option>
            </select>
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-12">Ταξινόμηση</label>
      <div class="col-sm-3">
        <select class="form-control" name="sorting" ng-model="query.queryData.sorting">
              <option value="Αύξουσα τιμή">Αύξουσα τιμή</option>
              <option value="Φθίνουσα τιμή">Φθίνουσα τιμή</option>
            </select>
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-6">
        <button type="submit" class="btn btn-info pull-right"
        >Submit</button>
      </div>
    </div>
  </form>
  <hr>
</div>

    <div ng-init="query.initialize();"></div> 

<div class="row">
<div id="putmap" class="col-md-7">
   
</div>

<div class="col-md-5"> 
  <!-- Creates Main Panel -->
    <div class="panel panel-default">

        <!-- Panel Title -->
        <div class="panel-heading">
            <h2 class="panel-title text-center">ΔΡΑΣΤΗΡΙΟΤΗΤΕΣ<span class="glyphicon glyphicon-map-marker"></span></h2>
        </div>

        <!-- Panel Body -->
        <div class="panel-body">
          RESULTS
          
        </div>

      </div>
</div>
</div>
