<!-- Heading -->
<div class="row text-center">
    <div class="container">
        <h2 class="section-heading">Επαναφορά Κωδικού</h2>
        <h3 class="section-subheading text-muted">Παρακαλώ συμπληρώστε την πιο κάτω φόρμα.</h3>
    </div>
</div>
<!-- Heading -->

<!-- Main Section -->
<section id="contact">
    <!-- Start of Container -->
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <form ng-hide="reset.hide" name="regForm" id="contactForm" ng-submit="reset.savePassword(regData, regForm.$valid, confirmed);" novalidate>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <!-- Password Div -->
                                <div ng-class="{ 'has-success':(regForm.firstPassword.$valid && !regForm.firstPassword.$pristine), 'has-error':(!regForm.firstPassword.$valid && !regForm.firstPassword.$pristine) || (!regForm.firstPassword.$valid && regForm.$submitted) }">
                                    <!-- Password Input -->
                                    <label>Κωδικός:</label>
                                    <input ng-disabled="reset.disabled" class="form-control" type="password" name="firstPassword" placeholder="Παρακαλώ πληκτρολογήστε τον κωδικό" ng-model="firstPassword" ng-minlength="5" ng-maxlength="35" ng-pattern="" required>
                                    <!-- Password Validation -->
                                    <p class="help-block" ng-show="(!regForm.firstPassword.$pristine && regForm.firstPassword.$error.required) || (regForm.$submitted && regForm.firstPassword.$error.required)">This field is required</p>
                                    <ul ng-show="(!regForm.firstPassword.$pristine && regForm.firstPassword.$error.pattern) || (!regForm.firstPassword.$pristine && regForm.firstPassword.$error.minlength) || (!regForm.firstPassword.$pristine && regForm.firstPassword.$error.maxlength)" class="help-block">
                                        <li>Πρέπει να περιέχει τουλάχιστον 5 χαρακτήρες και όχι πάνω από 35</li>
                                    </ul>
                                </div>
                            </div>
                            <!-- Password Div -->
                            <div class="form-group">
                                <!-- Confirm Password Div -->
                                <div ng-class="{ 'has-success':confirmed && !regForm.confirmPassword.$error.required, 'has-error':(!confirmed && !regForm.confirmPassword.$error.required) || (regForm.confirmPassword.$error.required && !regForm.confirmPassword.$pristine) || (regForm.$submitted && regForm.confirmPassword.$error.required) }">
                                    <!-- Confirm Password Input -->
                                    <label>Επιβεβαίωση Κωδικού:</label>
                                    <input ng-disabled="reset.disabled" class="form-control" type="password" name="confirmPassword" placeholder="Παρακαλώ πληκτρολογήστε τον κωδικό" match="{{[firstPassword]}}" ng-change="reset.regData.password = confirm" ng-model="confirm" required>
                                    <!-- Confirm Password Validation -->
                                    <p class="help-block" ng-show="(!regForm.confirmPassword.$pristine && regForm.confirmPassword.$error.required) || (regForm.$submitted && regForm.confirmPassword.$error.required)">This field is required</p>
                                    <p class="help-block" ng-show="!confirmed && !regForm.confirmPassword.$pristine && regForm.firstPassword.$valid">Passwords do not match</p>
                                </div>
                                <!-- Confirm Password Div -->
                            </div>

                            <br>

                            <!-- Submit Button -->
                            <button ng-disabled="reset.disabled" class="btn btn-xl" type="submit">Επαναφορα</button>
                            <!-- Submit Button -->
                        </div>
                    </div>
                </form>
            </div>
        </div>

        <br>

        <!-- Loading Icon (Bootstrap) -->
        <div class="jumbotron text-center" ng-show="reset.loading">
            <span class="glyphicon glyphicon-repeat spinner"></span>
            <p>Φόρτωση....</p>
        </div>
        <!-- Loading Icon (Bootstrap) -->

        <!-- Custom Messages -->
        <div class="row show-hide-message" ng-show="reset.successMsg || reset.errorMsg">
            <div ng-class="alert">{{ reset.successMsg || reset.errorMsg }}</div>
        </div>
        <!-- Custom Messages -->

    </div>
    <!-- End of Container -->
</section>
<!-- Main Section /-->
