<!-- Heading -->
<div class="row text-center">
    <div class="container">
        <h2 class="section-heading">Ξεχασατε το username σας;</h2>
        <h3 class="section-subheading text-muted">Αυτή η σελίδα σας θυμίζει το όνομα χρήστη (username) σας μέσω του email σας.</h3>
    </div>
</div>
<!-- Heading -->

<!-- Main Section -->
<section id="contact">
    <!-- Start of Container -->
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <form name="userForm" id="contactForm" ng-submit="username.sendUsername(userData, userForm.$valid);" novalidate>
                    <div class="row">
                        <div class="col-md-6">
                            <!-- E-mail Input -->
                            <div class="form-group">
                                <label>Ηλετρονική Διεύθυνση (Email):</label>
                                <input ng-disabled="username.disabled" class="form-control" type="text" name="email" placeholder="email *" ng-model="username.userData.email" required>
                            </div>
                            <!-- Submit Button -->
                            <button ng-disabled="username.disabled" type="submit" class="btn btn-xl">Υποβολη</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>

        <br>

        <!-- Loading Icon (Bootstrap) -->
        <div class="jumbotron text-center" ng-show="username.loading">
            <span class="glyphicon glyphicon-repeat spinner"></span>
            <p>Φόρτωση....</p>
        </div>
        <!-- Loading Icon (Bootstrap) -->

        <!-- Custom Messages -->
        <div class="row show-hide-message" ng-show="username.successMsg || username.errorMsg">
            <div ng-class="alert">{{ username.successMsg || username.errorMsg }}</div>
        </div>
        <!-- Custom Messages -->

    </div>
    <!-- End of Container -->
</section>
<!-- Main Section /-->
