<!-- Heading -->
<div class="row text-center">
    <div class="container">
        <h2 class="section-heading">Συνδεση Χρηστη</h2>
        <h3 class="section-subheading text-muted">Παρακαλώ συμπληρώστε τα πιο κάτω πεδία.</h3>
    </div>
</div>
<!-- Heading -->

<!-- Main Section -->
<section id="contact">
    <!-- Start of Container -->
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <form name="sentMessage" id="contactForm" ng-submit="main.doLogin(loginData);" novalidate>
                    <div class="row">
                        <div class="col-md-6">
                            <!-- Username Input -->
                            <div class="form-group">
                                <label>Όνομα Χρήστη (username):</label>
                                <input ng-disabled="main.disabled" class="form-control" type="text" name="username" placeholder="Όνομα Χρήστη *" ng-model="main.loginData.username" autocomplete="off">
                            </div>
                            <!-- Password Input -->
                            <div class="form-group">
                                <label>Κωδικός:</label>
                                <input ng-disabled="main.disabled" class="form-control" type="password" name="password" placeholder="Κωδικός *" ng-model="main.loginData.password">
                            </div>
                        </div>
                        <!-- Side Textarea Box for Sample user -->
                        <div class="col-md-6">
                        </div>
                        <div class="clearfix"></div>
                        <div class="col-lg-12 text-left">
                            <div>
                                <a href="/resetpassword">
                                    <button ng-disabled="main.disabled" type="button" class="btn btn-danger">Ξεχάσατε τον κωδικό σας;</button>
                                </a>
                                <a href="/resetusername">
                                    <button ng-disabled="main.disabled" type="button" class="btn btn-info">Ξεχάσατε το username σας;</button>
                                </a>
                            </div>
                            <br>
                            <div id="success"></div>
                            <!-- Login Button -->
                            <button type="submit" ng-disabled="main.disabled" class="btn btn-xl">Συνδεση</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>

        <br>

        <!-- Loading Icon (Bootstrap) -->
        <div class="jumbotron text-center" ng-show="main.loading">
            <span class="glyphicon glyphicon-repeat spinner"></span>
            <p>Φόρτωση....</p>
        </div>
        <!-- Loading Icon (Bootstrap) -->

        <!-- Custom Messages -->
        <div class="row show-hide-message" ng-show="main.successMsg || main.errorMsg">
            <div ng-class="alert">{{ main.successMsg || main.errorMsg  }}</div>&nbsp
            <a ng-show="main.expired" href="/resend">
                <!-- Button to Resend an Activation Link -->
                <button type="button" class="btn btn-success">Επανέκδοση Σύνδεσμου Ενεργοποίησης Λογαριασμού</button>
            </a>
        </div>
        <!-- Custom Messages -->

    </div>
    <!-- End of Container -->
</section>
<!-- Main Section /-->
