<!-- Heading -->
<div class="row text-center">
    <div class="container">
        <h2 class="section-heading">Λογαριασμος</h2>
        <h3 class="section-subheading text-muted">Αυτή η σελίδα σας επιτρέπει να δείτε/επεξεργαστείτε τα στοιχεία σας.</h3>
    </div>
</div>
<!-- Heading -->

<div class="panel panel-info">

    <!-- Default panel contents -->
    <div class="panel-heading" style="text-align: center;"><strong>Προφίλ Χρήστη</strong></div>

    <!-- Table -->
    <table class="table">
        <tr>
            <td><strong>Username</strong></td>
            <td><strong>Ηλεκτρονική Διεύθυνση</strong></td>
            <td><strong>Κωδικός</strong></td>
        </tr>
        <tr>
            <td>{{ main.username }}</td>
            <td>{{ main.useremail }}</td>
            <td>****************</td>
        </tr>
    </table>
</div>
