<!-- Heading -->
<div class="row text-center">
    <div class="container">
        <h2 class="section-heading">User Registration</h2>
        <h3 class="section-subheading text-muted">Please enter your registration information.</h3>
    </div>
</div>
<!-- Heading -->

<!-- Main Section -->
<section id="contact">
    <!-- Start of Container -->
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <form name="regForm" ng-submit="register.regUser(regData, regForm.$valid, confirmed);" id="contactForm" novalidate>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <div ng-class="{ 'has-success':(regForm.firstName.$valid && !regForm.firstName.$pristine), 'has-error':(!regForm.firstName.$valid && !regForm.firstName.$pristine) || (!regForm.firstName.$valid && regForm.$submitted) }">
                                    <!-- First Name Input -->
                                    </br>
                                    <label>Όνομα:</label>
                                    <input ng-disabled="register.disabled" class="form-control" type="text" name="firstName" placeholder="Όνομα *" ng-model="register.regData.firstName"
                                        ng-pattern="" ng-minlength="3" ng-maxlength="20" required>
                                    <!-- First Name Validation -->
                                    <p class="help-block" ng-show="(!regForm.firstName.$pristine && regForm.firstName.$error.required) || (regForm.$submitted && regForm.firstName.$error.required)">Αυτό το πεδίο είναι απαραίτητο*</p>
                                    <ul ng-show="(!regForm.firstName.$pristine && regForm.firstName.$error.pattern) || (!regForm.firstName.$pristine && regForm.firstName.$error.minlength) || (!regForm.firstName.$pristine && regForm.firstName.$error.maxlength)"
                                        class="help-block">
                                        <li>Δεν πρέπει να περιέχει ειδικούς χαρακτήρες ή αριθμούς</li>
                                        <li>Πρέπει να περιέχει τουλάχιστον 3 χαρακτήρες και όχι πάνω από 20</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <div ng-class="{ 'has-success':(regForm.lastName.$valid && !regForm.lastName.$pristine), 'has-error':(!regForm.lastName.$valid && !regForm.lastName.$pristine) || (!regForm.lastName.$valid && regForm.$submitted) }">
                                    <!-- Last Name Input -->
                                    <label>Επώνυμο:</label>
                                    <input ng-disabled="register.disabled" class="form-control" type="text" name="lastName" placeholder="Επώνυμο*" ng-model="register.regData.lastName"
                                        ng-pattern="" ng-minlength="3" ng-maxlength="20" required>
                                    <!-- Last Name Validation -->
                                    <p class="help-block" ng-show="(!regForm.lastName.$pristine && regForm.lastName.$error.required) || (regForm.$submitted && regForm.lastName.$error.required)">Αυτό το πεδίο είναι απαραίτητο*</p>
                                    <ul ng-show="(!regForm.lastName.$pristine && regForm.lastName.$error.pattern) || (!regForm.lastName.$pristine && regForm.lastName.$error.minlength) || (!regForm.lastName.$pristine && regForm.lastName.$error.maxlength)"
                                        class="help-block">
                                        <li>Δεν πρέπει να περιέχει ειδικούς χαρακτήρες ή αριθμούς</li>
                                        <li>Πρέπει να περιέχει τουλάχιστον 3 χαρακτήρες και όχι πάνω από 20</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <!-- Email Div -->
                                <div ng-class="{ 'has-success':(regForm.email.$valid && !regForm.email.$pristine && !register.emailInvalid), 'has-error':(!regForm.email.$valid && !regForm.email.$pristine) || (!regForm.email.$valid && regForm.$submitted) || register.emailInvalid }">
                                    <!-- Email Input -->
                                    <label>Ηλεκτρονική Διεύθυνση (Email):</label>
                                    <input ng-disabled="register.disabled" class="form-control" type="text" name="email" placeholder="E-mail *" ng-model="register.regData.email"
                                        ng-minlength="3" ng-maxlength="40" ng-pattern="/^[a-zA-Z0-9._%-]+@[a-zA-Z0-9.-]+.[a-zA-Z]{2,4}$/"
                                        ng-blur="register.checkEmail(regData);" required>
                                    <!-- Email Validation -->
                                    <p class="help-block" ng-show="(!regForm.email.$pristine && regForm.email.$error.required) || (regForm.$submitted && regForm.email.$error.required)">Αυτό το πεδίο είναι απαραίτητο*</p>
                                    <span ng-show="register.checkingEmail && regForm.email.$valid" class="glyphicon glyphicon-repeat"></span>
                                    <p class="help-block" ng-show="register.emailMsg && !regForm.email.$error.required && regForm.email.$valid">{{ register.emailMsg }}</p>
                                    <ul ng-show="(!regForm.email.$pristine && regForm.email.$error.pattern) || (!regForm.email.$pristine && regForm.email.$error.minlength) || (!regForm.email.$pristine && regForm.email.$error.maxlength)"
                                        class="help-block">
                                        <li>Πρέπει να περιέχει "@"</li>
                                        <li>Δεν πρέπει να περιέχει ειδικούς χαρακτήρες</li>
                                        <li>Πρέπει να περιέχει τουλάχιστον 3 χαρακτήρες και όχι πάνω από 25</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <!-- Username Div -->
                                <div ng-class="{ 'has-success':(regForm.username.$valid && !regForm.username.$pristine && !register.usernameInvalid), 'has-error':(!regForm.username.$valid && !regForm.username.$pristine) || (!regForm.username.$valid && regForm.$submitted) || register.usernameInvalid }">
                                    <!-- Username Input -->
                                    <label>Όνομα Χρήστη (Username):</label>
                                    <input ng-disabled="register.disabled" class="form-control" type="text" name="username" placeholder="Username *" ng-model="register.regData.username"
                                        ng-minlength="3" ng-maxlength="25" ng-pattern="/^(?!.*?[\W])(?=.*?[a-zA-Z]|=.*?[A-Z]).{3,16}$/"
                                        ng-blur="register.checkUsername(regData);" required>
                                    <!-- Username Validation -->
                                    <p class="help-block" ng-show="(!regForm.username.$pristine && regForm.username.$error.required) || (regForm.$submitted && regForm.username.$error.required)">Αυτό το πεδίο είναι απαραίτητο*</p>
                                    <span ng-show="register.checkingUsername && regForm.username.$valid" class="glyphicon glyphicon-repeat"></span>
                                    <p class="help-block" ng-show="register.usernameMsg && !regForm.username.$error.required && regForm.username.$valid">{{ register.usernameMsg }}</p>
                                    <ul ng-show="(!regForm.username.$pristine && regForm.username.$error.pattern) || (!regForm.username.$pristine && regForm.username.$error.minlength) || (!regForm.username.$pristine && regForm.username.$error.maxlength)"
                                        class="help-block">
                                        <li>Δεν πρέπει να περιέχει ειδικούς χαρακτήρες ή κενά</li>
                                        <li>Πρέπει να περιέχει τουλάχιστον 3 χαρακτήρες και όχι πάνω από 25</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <form>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label>Διεύθυνση:</label>
                                    <div ng-show='false'>selection is: {{register.regData.address}}</div>
                                    <div>
                                        <input class="form-control" ng-model="register.regData.address" googleplace/>
                                    </div>
                                    <div ng-show='false'>
                                        <div ng-show='false'>Lat is: {{register.regData.latitude}}</div>
                                        <li>
                                            <label>Latitude:</label>
                                        </li>
                                        <input class="form-control" ng-show='true' ng-model="register.regData.latitude" disabled></input>
                                        <div ng-show='false'>Long is: {{register.regData.longitude}}</div>
                                        <li>
                                            <label>Longitude:</label>
                                        </li>
                                        <input class="form-control" ng-show='true' ng-model="register.regData.longitude" disabled></input>
                                    </div>
                                </div>
                            </div>
                        </form>
                        <div class="col-md-12">
                            <div class="form-group">
                                <!-- Password Div -->
                                <div ng-class="{ 'has-success':(regForm.firstPassword.$valid && !regForm.firstPassword.$pristine), 'has-error':(!regForm.firstPassword.$valid && !regForm.firstPassword.$pristine) || (!regForm.firstPassword.$valid && regForm.$submitted) }">
                                    <!-- Password Input -->
                                    <label>Κωδικός:</label>
                                    <input ng-disabled="register.disabled" class="form-control" type="password" name="firstPassword" placeholder="Κωδικός *"
                                        ng-model="firstPassword" ng-minlength="5" ng-maxlength="35" ng-pattern="" required>
                                    <!-- /^(?=.*?[a-z])(?=.*?[A-Z])(?=.*?[\d])(?=.*?[\W]).{8,35}$/ -->
                                    <!-- Password Validation -->
                                    <p class="help-block" ng-show="(!regForm.firstPassword.$pristine && regForm.firstPassword.$error.required) || (regForm.$submitted && regForm.firstPassword.$error.required)">Αυτό το πεδίο είναι απαραίτητο*</p>
                                    <ul ng-show="(!regForm.firstPassword.$pristine && regForm.firstPassword.$error.pattern) || (!regForm.firstPassword.$pristine && regForm.firstPassword.$error.minlength) || (!regForm.firstPassword.$pristine && regForm.firstPassword.$error.maxlength)"
                                        class="help-block">
                                        <li>Πρέπει να περιέχει τουλάχιστον 5 χαρακτήρες και όχι πάνω από 35</li>
                                    </ul>
                                </div>
                                <!-- Password Div -->
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <!-- Confirm Password Div -->
                                <div ng-class="{ 'has-success':confirmed && !regForm.confirmPassword.$error.required, 'has-error':(!confirmed && !regForm.confirmPassword.$error.required) || (regForm.confirmPassword.$error.required && !regForm.confirmPassword.$pristine) || (regForm.$submitted && regForm.confirmPassword.$error.required) }">
                                    <!-- Confirm Password Input -->
                                    <label>Επιβεβαίωση Κωδικού:</label>
                                    <input ng-disabled="register.disabled" class="form-control" type="password" name="confirmPassword" placeholder="Επιβεβαίωση Κωδικού *"
                                        match="{{[firstPassword]}}" ng-change="register.regData.password = confirm" ng-model="confirm"
                                        required>
                                    <!-- Confirm Password Validation -->
                                    <p class="help-block" ng-show="(!regForm.confirmPassword.$pristine && regForm.confirmPassword.$error.required) || (regForm.$submitted && regForm.confirmPassword.$error.required)">Αυτό το πεδίο είναι απαραίτητο*</p>
                                    <p class="help-block" ng-show="!confirmed && !regForm.confirmPassword.$pristine && regForm.firstPassword.$valid">Passwords do not match</p>
                                </div>
                                <!-- Confirm Password Div -->
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <div ng-class="{ 'has-success': register.regData.parent || !register.regData.provider }">
                                    <div class="row"> <label>Εγγραφή σαν:</label></div>
                                    <div class="col-md-2">
                                    <input type="radio" name="optionsRadios" id="optionsRadios1" value="true" ng-model="register.regData.parent"> Χρήστης - Γονέας
                                    </div><div class="col-md-2">
                                    <input type="radio" name="optionsRadios" id="optionsRadios2" value="false" ng-model="register.regData.provider"> Πάροχος
                                    </div>
                                </div>
                                    <br>
                        </div>
                        </div>
                        <div class="clearfix"></div>
                        <div class="col-lg-12 text-left">
                            <div id="success"></div>
                            <!-- Login Button -->
                            <button type="submit" ng-disabled="register.disabled" class="btn btn-xl">Εγγραφη</button>

                        </div>
                    </div>
                </form>
            </div>
        </div>

        <br>

        <!-- Loading Icon (Bootstrap) -->
        <div class="jumbotron text-center" ng-show="register.loading">
            <span class="glyphicon glyphicon-repeat spinner"></span>
            <p>Φόρτωση....</p>
        </div>
        <!-- Loading Icon (Bootstrap) -->

        <!-- Custom Messages -->
        <div class="row show-hide-message" ng-show="register.successMsg || register.errorMsg">
            <div ng-class="alert">{{ register.successMsg || register.errorMsg }}</div>
        </div>
        <!-- Custom Messages -->

    </div>
    <!-- End of Container -->
</section>
<!-- Main Section /-->