<!-- Heading -->
<div class="row text-center">
    <div class="container">
        <h2 class="section-heading">Ενεργοποιηση Λογαριασμου</h2>
        <h3 class="section-subheading text-muted">Αυτή η σελίδα σας επιτρέπει να ενεργοποιήσετε τον λογαριασμό σας.</h3>
    </div>
</div>
<!-- Heading -->

<br>

<!-- Custom Success Message -->
<div class="row show-hide-message" ng-show="email.successMsg">
    <div class="alert alert-success">{{ email.successMsg }}</div>
</div>
<!-- Custom Success Message -->

<br>

<!-- Custom Error Message -->
<div class="row show-hide-message" ng-show="email.errorMsg">
    <div class="alert alert-danger">{{ email.errorMsg }}</div>
</div>
<!-- Custom Error Message -->
