<!-- Heading -->
<div class="row text-center">
    <div class="container">
        <h2 class="section-heading">Επανεκδοση Συνδεσμου Ενεργοποιησης Λογαριασμου</h2>
        <h3 class="section-subheading text-muted">Παρακαλώ συμπληρώστε τα πιο κάτω πεδία.</h3>
    </div>
</div>
<!-- Heading -->

<!-- Main Section -->
<section id="contact">
    <!-- Start of Container -->
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <form ng-submit="resend.checkCredentials(loginData, resetForm.$valid);" name="resetForm" id="contactForm" novalidate>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <div ng-class="{ 'has-success':(resetForm.username.$valid && !resetForm.username.$pristine), 'has-error':(!resetForm.username.$valid && !resetForm.username.$pristine) || (!resetForm.username.$valid && resetForm.$submitted) }">
                                    <!-- Username Input -->
                                    <label>Xρήστης (Username):</label>
                                    <input ng-disabled="reset.disabled" class="form-control" type="text" name="username" placeholder="Όνομα Χρήστη *" ng-model="resend.loginData.username" required>
                                    <!-- Username Validation -->
                                    <p class="help-block" ng-show="(!resetForm.username.$pristine && resetForm.username.$error.required) || (resetForm.$submitted && resetForm.username.$error.required)">This field is required</p>
                                </div>
                                <br>
                                <div ng-class="{ 'has-success':(resetForm.password.$valid && !resetForm.password.$pristine), 'has-error':(!resetForm.password.$valid && !resetForm.password.$pristine) || (!resetForm.password.$valid && resetForm.$submitted) }">
                                    <!-- Password Input -->
                                    <label>Κωδικός:</label>
                                    <input ng-disabled="reset.disabled" class="form-control" type="password" name="password" placeholder="Κωδικός *" ng-model="resend.loginData.password" required>
                                    <!-- Password Validation -->
                                    <p class="help-block" ng-show="(!resetForm.password.$pristine && resetForm.password.$error.required) || (resetForm.$submitted && resetForm.password.$error.required)">This field is required</p>
                                </div>
                            </div>
                            <br>
                            <!-- Submit Button -->
                            <button ng-disabled="resend.disabled" class="btn btn-xl" type="submit">Επανεκδοση</button>
                            <!-- Submit Button -->
                        </div>
                    </div>
                </form>
            </div>
        </div>

        <br>

        <!-- Loading Icon (Bootstrap) -->
        <div class="jumbotron text-center" ng-show="resend.loading">
            <span class="glyphicon glyphicon-repeat spinner"></span>
            <p>Φόρτωση....</p>
        </div>
        <!-- Loading Icon (Bootstrap) -->

        <!-- Custom Messages -->
        <div class="row show-hide-message" ng-show="resend.successMsg || resend.errorMsg">
            <div ng-class="alert">{{ resend.successMsg || resend.errorMsg }}</div>
        </div>
        <!-- Custom Messages -->

    </div>
    <!-- End of Container -->
</section>
<!-- Main Section /-->
